
<div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12  col-sm-12 mx-auto">
            <div class="tabs">
                
                <ul>
                    <li>Последние посты</li>
                    <li>Последние фото</li>
                    <li>Ближайшие мероприятия</li>
                </ul>


                <div>
                  <!-- Вкладка посты -->
                    <div>
                      <%@posts.reverse_each  do |post|%>
                      <div class="post-preview">

                        <a href=<%=post_url(post)%>>

                          <h2 class="post-title">
                            <%=post.title%>
                          </h2>
                          <h3 class="post-subtitle">
                            <%=post.content.first(2000)%><br/>
                            <div class="pull-right">
                          <button type="button" class="btn btn-outline-primary"> читать далее...</button>
                         </div> 


                          </h3>
                        </a>



                        <p class="post-meta">Написал
                          <a href="#"><%=post.author%></a>
                          <%=post.created_at%></p>
                      </div>
                      <hr>
                      <%end%>
                   
                      <div class="clearfix">
                      <%if user_signed_in?%>
                      <a class="btn btn-success float-right" href=<%=new_post_url%>>&larr; Новый пост </a>
                      <%end%>
                      <a class="btn btn-primary float-left" href=<%=posts_url%>>Все посты &rarr;</a>
                    </div>

                    </div>
                     <!-- Вкладка фотографии -->
                    
                    <div>
                        <div class="gallery">
                        <ul id="lightgallery" class="list-unstyled row">
                          
                          
                          <%@album.each do |pic|%>
                            <%pic.images.each do |p|%>
                       
                            <li st class="col-xs-3" data-responsive="<%=p%>" data-src="<%=p%>" data-sub-html="Комментарий к фотографии">
                            <div class="polaroid">
                                <a href=<%=album_url(
                                   pic.album.id)%>>
                                    <img class="img-responsive" src="<%=p%>">
                                </a>
                                <div class="container"></div>
                              </div> 

                              </li>
                              

                          
                              
                              
                                <%end%>
                            <%end%>
                            
                        </ul>
                    </div>
                
                      <div class="clearfix">
                      <%if user_signed_in?%>
                      <a class="btn btn-success float-left" href=<%=new_album_url%>>&larr; Новый альбом </a>
                      <%end%>
                      <a class="btn btn-primary float-right" href=<%=albums_url%>>Все альбомы &rarr;</a>
                    </div>

</div>




                   
                 
                    <!-- Вкладка события -->
                
                     <div>
                      <%@events.each  do |event|%>

                        <a href=<%=event_url(event)%>>
                       <h2 class="event-title">
            
                         <%=event.date.strftime("%d")%>-го <%=$rusdate[event.date.strftime("%m").to_i]%> <%=event.date. strftime("%Y")%> г.</
                         </h2>
                     
                        <div class="post-preview">                          

                          <h2 class="post-title">
                            <%=event.title%>
                          </h2>
                          <h3 class="post-subtitle">
                            <%=event.content%>
                          </h3>
                        </a>
                        <p class="post-meta">Написал
                          <a href="#"><%=event.author%></a>
                          <%=event.created_at%></p>


                      




                      <hr>
                      <%end%>
                      </div>        
                    <div class="clearfix">
                      
                      <a class="btn btn-primary float-right" href=<%=events_url%>>Все события &rarr;</a>
                    </div>


                    </div>
                </div>            
            </div> 
</div>
</div>
</div>



<!-- Main Content -->







    
                 
          <!-- Pager -->

        </div>
      </div>
    </div>

    <hr/>


<script>
    $(document).ready(function(){


  $(".tabs").lightTabs();
});
</script>