

<!-- Main Content -->

<div class="clearfix">
            <%if user_signed_in?%>
            <a class="btn btn-success pull-right" href=<%=new_event_url%>> Новое событие </a>
            <%end%>
           
          </div>
    <div class="container">
      <div class="row">
        <%@events.each do |event|%>

        <div class="col-lg-12 col-md-12">
          
          <div class="event-preview">
            
            <a href=<%=event_url(event)%>>
            
              
                    <h2 class="event-title">
                    
                    <%=event.date.strftime("%d")%>-го <%=$rusdate[event.date.strftime("%m").to_i]%> <%=event.date.strftime("%Y")%> г.</
                      </h2>
                        <h2 class="event-title">
                        <%=event.title%>
                        <br/><br/>
                      </h2>
                   </div> 

                 </div>

                   <div class="col-lg-8 col-md-8 mx-auto"> 

                      
                      <img class="img-responsive mx-auto"  src= <%=event.image%> />
                 
                    </div>

                     <div class="col-lg-12 col-md-12"> 
                          
                            <h3 class="text-left">
                              <%=event.content%>
                            </h3>
                          </a>
                          <p class="event-meta">Написал
                            <a href="#"><%=event.author%></a>
                            <%=event.created_at%></p><hr/>
                    </div>
                  </div>
            </a>
          <hr>
          <%end%>
                 
          <!-- Pager -->
          
        </div>
      </div>
    </div>

    <hr>

    