<div id="event">
	<div>
	
<t4> Создать событие: </t4>

<%= form_for :event, url: events_path do |f| %> 

 <% if @event.errors.any? %>
            <div id="errorExplanation">
            	 
                <ul>
                    <% @event.errors.messages.each do |msg| %>
				<div class="alert alert-danger">
                    <li><%= msg[1][0] %></li>
               	</div>
                    <% end %>
                  </ul>
             
            </div>
  <% end %>
	
	<h1> <%= f.hidden_field  :author, value: current_user.username %> </h1>

	<t2> <%= f.label :Название_события %> </t2><br/>
	<p1> <%= f.text_area  :title, size: "50x1", value: @event.title  %> </p1><br/>

	<t2> <%= f.label :Дата_встречи %> </t2><br/>
	<p1> <%= f.date_field  :date,  size: "40x1"  %> </p1><br/>

	<t2> <%= f.label :Описание_события %> </t2>
	<textarea  name="event[content]" >

		<%= @event.content %>
		
	
	</textarea><br/>


	<t2><%= f.label :Обложка_события %></t2>
    <p1><%= f.file_field :image %></p1><br/>

	<button class="btn btn-primary" type="submit">Создать</button>
 <%end%>

</div>
</div>

  <script>
      CKEDITOR.replace( 'event[content]');
  </script>