<!-- event Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-md-12 mx-auto">
            <p><%@m=@event.date.strftime("%m").to_i%></p>
           <h2 class="event-title">
            
            <%=@event.date. strftime("%d")%>-го <%=$rusdate[@event.date.strftime("%m").to_i]%> <%=@event.date. strftime("%Y")%> г.</
              </h2>
            <p><%=@event.content%></p>
            
            <small><%= link_to "Удалить", event_path(@event.id), method: :delete, data: {confirm: "Точно удалить?"} %>  <br/></small>
           
          </div>
        </div>
      </div>
    </article>


