<%if user_signed_in?%>
<div class="container">    
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
    	</div>
    	 <div class="col-md-3 col-sm-4 col-xs-6">
    	</div>
    	 <div class="col-md-3 col-sm-4 col-xs-6">
    	</div>
        <div  class="col-md-3 col-sm-4 col-xs-6">

        	<div class="clearfix">
            
            <a class="btn btn-success float-right" href=<%=new_album_url%>> Создать новый альбом </a>
        
         
          </div>


		
</div>
</div>
</div>


<%end%>


<div class="container">



    <div class="row">

    	<% @albums.reverse_each  do |album|%>
       <div  class="col-md-4 col-sm-4 col-xs-6" >


 

<div class="polaroid">
       	<a href = <%=album_url(album.id)%>>
        <p2> <%=album.title%></p2>|
       	
        <img class="img-responsive" src= <%=album.image%> />
        <p2> <%=album.author%></p2>
        <p2> <%=album.created_at%></p2></a>
    	</div> 
 </div>       







	<%end%>

	</div>

</div>