

  
  








<!-- Main Content -->

    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <%@posts.each do |post|%>
          <div class="post-preview">

            <a href=<%=post_url(post)%>>

              <h2 class="post-title">
                <%=post.title%>
              </h2>
              
             <h class="text-left">
                <%=simple_format(post.content.first(300)+"...")%>
             </h>
           
              <button type="button"  class="btn btn-outline-primary pull-right"> читать далее...</button>
            </a>
            <p class="post-meta pull-left">Написал
              <a href="#"><%=post.author%></a>
              <%=post.created_at%></p>
          </div>
          <hr/><br/>
          <%end%>
                 
          <!-- Pager -->
          <div class="clearfix">
            <%if user_signed_in?%>
            <a class="btn btn-success float-left" href=<%=new_post_url%>>&larr; Новый пост </a>
            <%end%>
            <a class="btn btn-primary float-right" href="#">Все посты &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    