<script src="https://cdn.ckeditor.com/4.10.1/standard/ckeditor.js"></script>

		
		


<div id="post">
	<div class="mx-auto" style="size: 800">
		




<%= form_for :post, url: posts_path do |f| %> 

 <% if @post.errors.any? %>
            <div id="errorExplanation">
            	 
                <ul>
                    <% @post.errors.messages.each do |msg| %>
				<div class="alert alert-danger">
                    <li><%= msg[1][0]%></li>
               	</div>
                    <% end %>
                  </ul>
             
            </div>
  <% end %>
	<t4> Написать новый пост: </t4>
	<h1> <%= f.hidden_field  :author, value: current_user.username %> </h1>

	<t2> <%= f.label :Тема_поста %> </t2><br/>
	<p1> <%= f.text_area  :title, size: "50x1"  %> </p1><br/>

	<t2><%= f.label :Текст_поста %> </t2><br/>
	<textarea  name="post[content]" >
	
	</textarea>
	<br/>


	<t2><%= f.label :Обложка_поста %></t2>
    <p1><%= f.file_field :image %></p1><br/>

	<button class="btn btn-primary" type="submit">Создать пост</button>
 <%end%>

</div>
</div>


	<script>
			CKEDITOR.replace( 'post[content]' );
	</script>
